<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<targets async="true">
		<target xsi:type="File" name="allfile" fileName="${BaseDir}/Logs/log-all-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<target name="seq"
		  xsi:type="BufferingWrapper"
		  bufferSize="1000"
		  flushTimeout="2000"
			slidingTimeout="false">

			<target xsi:type="Seq" serverUrl="http://localhost:5341" apiKey="" >
				<property name="Environment" value="PROD" />
				<property name="App" value="Worker" />
				<property name="MachineName" value="${machinename}" />
				<property name="Source" value="${logger}" />
				<property name="TraceId" value="${activityid}" />
			</target>
		</target>

		


	</targets>

	<rules>
		<logger name="Microsoft.EntityFrameworkCore.*" maxlevel="Info" final="true" />
		<!--Skip non-critical Refit logs and so log only own logs-->
		<logger name="System.Net.Http.HttpClient.Refit.*" maxLevel="Info" final="true"/>
		<logger name="*" minlevel="Info" writeTo="allfile" />
		<logger name="*" minlevel="Trace" writeTo="seq" enabled="false"/>
		<logger name="*" minlevel="Error" writeTo="email" enabled="false"/>
	</rules>
</nlog>
